.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 306px;
  height: 163px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Adamina;
  margin: 74px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: none;
  font-family: Adamina;
  font-weight: normal;
  margin: 60px auto;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-image-1 {
  height: 537px;
  width: 1208px;
  margin: 60px auto 0 -34px;
}

.u-section-2 .u-shape-1 {
  width: 500px;
  height: 537px;
  margin: -537px auto 0 287px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  line-height: 2;
  animation-duration: 1000ms;
  font-family: Adamina;
  font-weight: normal;
  margin: -537px 128px 0 515px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 1rem;
  margin: 89px 517px 60px 128px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 172px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 470px;
    height: 527px;
    margin-left: 235px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -527px;
    margin-right: 118px;
    margin-left: 353px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 57px;
    margin-right: 353px;
    margin-left: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-image-1 {
    height: 615px;
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    height: 615px;
    margin-top: -615px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -615px;
    margin-right: 142px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-2 {
    margin: 88px 125px 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 17631px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 53px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -509px;
    margin-left: -220px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -736px;
    margin-right: 310px;
    margin-left: 230px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 230px;
    margin-left: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-top: 3914px;
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -615px;
    margin-left: -70px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -4469px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin: 79px 0 60px;
  }
}.u-section-3 {
  min-height: 830px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1629px;
}

.u-section-3 .u-icon-1 {
  height: 369px;
  width: 2920px;
  background-image: none;
  color: rgb(148, 190, 133) !important;
  margin: 114px -890px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: Adamina;
  width: 893px;
  margin: -16px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: none;
  font-family: Adamina;
  font-weight: normal;
  margin: 124px auto 196px;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 39px;
    margin-left: -990px;
    margin-right: -990px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 192px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    margin-top: -17px;
    margin-right: auto;
    margin-left: -1083px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 104px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-top: -38px;
    margin-left: -619px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 157px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -11px;
    margin-left: -931px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 137px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 85px;
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 704px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 1.5rem;
  line-height: 2;
  margin: -704px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 1.25rem;
  line-height: 2;
  margin: 144px 570px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 622px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -622px;
    margin-right: 470px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 198px;
    margin-right: 470px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 568px;
    margin-top: 124px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -568px;
    margin-right: 360px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 360px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 257px;
    height: 720px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -720px;
    margin-right: 270px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 274px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 12px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-icon-1 {
  height: 95px;
  width: 111px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-icon-1 {
  height: 373px;
  width: 2954px;
  color: rgb(148, 190, 133) !important;
  margin: -231px auto 0 -954px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 1.6875rem;
  line-height: 2;
  margin: 18px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
    margin-left: -1007px;
    margin-right: -1007px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-7 .u-group-1 {
  margin-top: 243px;
  margin-bottom: 10px;
  min-height: 384px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-family: Adamina;
  font-size: 2.5rem;
  line-height: 2;
  margin: 0 36px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    min-height: 386px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}